img{
    width: 400px;
    padding: 0px;
    border: 1px #e0e0e0;
    border-radius: 5px;
    /* margin: 50px 50px 15px 50px; */
    box-shadow: 0px 2px 10px 2px #d5d5d8;
}

#me{
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flexcontainer img:nth-child(2n){
  box-shadow: 0px 2px 15px 2px #757575;
}

.mockup{
  margin: 0px;
  width: 160px;
}

.banner{
  margin: 0px;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  background-color: #d5d5d8;
}

.background{
  background-image: url('../images/539background.png');
  background-size: 100%;
}


img:hover{
    filter:brightness(95%);
    border: marker;
}

.skip{
  display: absolute;
  margin-left: -200px;
}
a:visited{
    color: black;
}

.active{
    background: #270fff;
    font-weight: bold;
    padding: 5px;
}

.active a{
    color: #ffffff;
}

main{
  font-family: karla, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

.card img{
  width: 100%;
  box-shadow: none;
}
div.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}



div.cardtitle {
  padding: 10px;
}

  
  legend{
    font-size: 110%;
    text-transform: uppercase;

  }
  
  label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  #submit_id{
    margin-top: 20px;
  }
  #message_id{
    display: block;
  }

  footer > p{
    margin-top: 50px;
    margin-bottom: 20px;
  }



  #ani{
    animation: mymove 1s;
}

@keyframes mymove{
    from {width: 95%; opacity: 0.2;}
    to {width: 100%; opacity: 1;}
}

@media screen and (prefers-reduced-motion: reduce){

  #ani{
      animation: none !important;
  }
}
.picturegrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
  grid-row-gap: 20px;
}

.flexcontainer{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.flexcontainer img{
  width: 350px;
  margin-top: 30px;
}
